
.menu{
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu a{
    text-decoration: none;
}

.social{
    margin-right: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}

.social:hover{
    color: #a3a3a3;
    opacity: 0.6;
}

.menu-item{
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    margin-right: 14px;
    transition-duration: 0.4s;
}

.menu-item:hover{
    background-color: #a3a3a3;
    color: #000;
    opacity: 0.6;
}

